<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.experts.outsystems.extended.inappbrowser.plugin" version="1.0.0">
    
    <name>ExtendedSupportedInAppBrowserPlugin</name>

    <description>
        This plugin is a wrapper of OutSystems Supported Cordova Plugin InAppBrowser to fix issue in Android WebView Google Sign In - to set the userAgent to not receive the erro "disallowed_userAgent" error 403.
    </description>

    <js-module name="ExtendedSupportedInAppBrowserPlugin" src="www/ExtendedSupportedInAppBrowserPlugin.js">
        <clobbers target="cordova.plugins.ExtendedSupportedInAppBrowserPlugin" />
    </js-module>

   <!-- <dependency id="cordova-plugin-inappbrowser" url="https://github.com/OutSystems/cordova-plugin-inappbrowser#4.0.0-OS13"/> -->
   <dependency id="cordova-plugin-inappbrowser" url="https://github.com/OutSystems/cordova-plugin-inappbrowser#4.0.0-OS14"/>

   <!-- android -->
    <platform name="android">
       <hook type="after_plugin_install" src="hooks/set_user_agent_webview.js" />
    </platform>

</plugin>