<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.experts.outsystems.extended.inappbrowser.plugin" version="1.0.0">
    
    <name>ExtendedSupportedInAppBrowserPlugin</name>

    <description>
        This plugin serves as a wrapper for the OutSystems Supported Cordova Plugin InAppBrowser. It addresses the Google Sign-In issue by setting a custom user agent to avoid the "disallowed_useragent" error (Error 403).
    </description>

    <js-module name="ExtendedSupportedInAppBrowserPlugin" src="www/ExtendedSupportedInAppBrowserPlugin.js">
        <clobbers target="cordova.plugins.ExtendedSupportedInAppBrowserPlugin" />
    </js-module>

   <!-- <dependency id="cordova-plugin-inappbrowser" url="https://github.com/OutSystems/cordova-plugin-inappbrowser#4.0.0-OS13"/> -->
   <dependency id="cordova-plugin-inappbrowser" url="https://github.com/OutSystems/cordova-plugin-inappbrowser#4.0.0-OS14"/>

   <!-- android -->
    <platform name="android">
       <hook type="after_plugin_install" src="hooks/set_user_agent_webview.js" />
    </platform>

    <!-- ios -->
    <platform name="ios">
       <hook type="after_plugin_install" src="hooks/ios_update_inappbrowser_useragent.js" />
    </platform>
</plugin>